<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <% messages.forEach(function(message, index) { %>
        <div>
          <%=message.added%> <%=message.user%>:  <%=message.text %>
        </div>
      <%})%>
    %></div>
    <a href="/new">New message</a>

  </body>
</html>
